#view-bar{
    display:  flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-family: Schwifty;
    position: absolute;
    border-bottom: 1px solid black; /*var(--light);*/
    min-width: 100vw;
    max-width: 100vw;
    min-height: 60px;
    height: 60px;
    margin-top: 10px;
}

#view-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.view-link:hover{
    box-shadow:  0 0 0.5em 0 #202020;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(32, 32, 32, 0.37)
}

.active-link{
    box-shadow:  0 0 0.5em 0 #202020;
    border-radius: 30px;
    cursor: pointer;
    background-color: rgba(32, 32, 32, 0.37)
}

#view-links{
    width: 200px;
    padding: 5px;
}

#view-outlet{
    margin-top: 60px;
    max-height: calc((100vh - 130px));
    min-height: calc((100vh - 130px));
    min-width: 100vw;
    max-width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

#nft-not-minted{
    color: var(--light);
}

#nft-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    /*border: 1px solid beige;*/
    margin-top: -25px;
    padding-bottom: 10px;
}

.nft-attributes{
    display: flex;
    flex-direction: row;
}
.nft-header{
    margin: 0;
}

.nft-data-link{
    text-decoration: none;
    margin-bottom: 10px;
}

#nft-verified{
    /*border:  solid 1px black;*/
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.small-nft{
    background-color: var(--light);
    border-radius: 30px;
    border: 1px solid black;
    cursor: pointer; 
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.small-nft:hover{
    box-shadow:  0 0 0.5em 0 #202020;
}

.small-nft-image{
    position: absolute;
    bottom: 0;
    /*border:  solid 1px beige;*/
    border-radius: 30px;
}

.small-nft-id{
    position: absolute;
    top: 5px;
    left: 20px;
    font-size: 20pt;
}

.small-nft-percentage{
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 20pt;
}

.small-nft-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*border: solid 1px purple;*/
    position: relative;
}

#view-title{
    color: var(--light)
}

#sort-dropdown{
    font-size: 16pt;
    text-align: center;
    border: var(--dark);
    color: var(--light);
}


#nft-percentage{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /*border: solid 1px beige*/
}
.no-margin{
    margin: 0;
}

#view-top-button{
    position: absolute;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--light);
}

.view-top-button-hide{
    transition: all 1s ease-in-out 0s;
    opacity: 0;
   
    visibility: hidden;
}

.view-top-button-show{
    transition: all 1s ease-in-out 0s;
    opacity: 1;
    visibility: visible;
}

#opensea-logo{
    min-height: 75px;
    max-height: 75px;
    min-width: 75px;
    max-width: 75px;
}

.nft-header{
    margin-top: 25px;
}


/* Desktop */
@media screen and (min-width: 900px) {
    #view-outlet{
        /*border: solid 1px black;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 70px;
        
    }
    #nft-container{
        display: flex;
        flex-direction: row;
        width: 70%;
        margin-top: 0;
    }

    .view-nft-container{
        /*border: 1px solid black;*/
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        width: 750px;
        /*flex-grow: 1;*/
    }
    
    .small-nft-container{
        width: 249px;
        height: 350px;
        display: flex;
    }
    .small-nft{
        width: 210px;
        height: 320px;
    }
    .small-nft-image{
        width: 200px;
        height: 300px;
    }

    .small-nft-percentage{
        font-size: 14pt;
    }

    .nft-attributes{
        width: 700px;
        justify-content: space-around;
        margin-left: 10px;
        /*border: solid 1px gold*/
    }

    .nft-attribute{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: relative;
        /*border: solid 1px black;*/
        min-height: 85px;
        max-height: 85px;
        min-width: 150px;
        max-width: 150px;
    }

    .nft-attribute-image{
        height: 120px;
        width: 80px;
        /*border: solid 1px black;*/
    }
    .attribute-name {
        margin-right: 60px;
    }
    .nft-hair{
        margin-top: 35px;
        margin-left: 65px;
    }
    .nft-coat{
        margin-bottom: 80px;
        margin-left: 60px;
    }
    .nft-shirt{
        margin-bottom: 80px;
        margin-left: 30px;
    }
    .nft-head{
        margin-top: 10px;
        margin-left: 40px;
    }
    .nft-attribute-image
    {
        position: absolute;
    }
    .nft-face{
        height: 180px;
        width: 120px;
        margin-top: 20px;
        margin-left: 50px;
    }
    .nft-eyebrow{
        height: 180px;
        width: 120px;
        margin-top: 80px;
        margin-left: 100px;
    }
    .nft-eyes{
        height: 180px;
        width: 120px;
        margin-top: 45px;
        margin-left: 70px;
    }
    .nft-drool{
        height: 450px;
        width: 300px;
        margin-left: 55px;
        margin-bottom: 40px;
       /* border: solid 1px gainsboro;*/
    }
    .owner-header{
        margin-top: 15px;
    }
    #nft-verified{
        max-height: 75px;
        min-height: 75px;
    }
    #view-top-button{
        bottom: 10vh;
        right: 10vw;
    }
    
}

/*Mobile*/
@media screen and (max-width: 900px) 
{
    #view-outlet{
        margin-top: 71px;
        max-height: calc((100vh - 131px));
        min-height: calc((100vh - 131px));
        display: flex;
        flex-direction: column;
        align-items: center;
    }
	#nft-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12pt;
    }
    #attribute-spacer{
        height: 20px;
    }
    .nft-attributes{
        /*border: saddlebrown 1px solid;*/
        justify-content: space-around;
        margin-left: 10px
    }
    .nft-header{
        margin-top: 10px;
    }
    #view-links{
        font-size: 12pt;
    }
    .small-nft, .small-nft-image{
        height: 400px;
		width: 266px;
		min-height: 400px;
    }

    .view-nft-container{
        width: 95vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .small-nft-container{
        width: 275px;
        height: 425px;
        display: flex;
    }
    .nft-attribute{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /*border: solid 1px black;*/
        min-height: 100px;
        max-height: 100px;
        min-width: 80px;
        max-width: 80px;
    }
    .nft-attribute-image{
        height: 120px;
        width: 80px;
        /*border: solid 1px black;*/
        position: absolute;
    
    }
    .attribute-name{
        margin-bottom: 80px;
    }
    .nft-hair{
        margin-top: 60px;
    }
    .nft-coat, .nft-shirt{
        margin-bottom: 70px;
    }
    .nft-head
    {
        margin-top: 25px;
    }
    .nft-face{
        margin-top: 20px;
    }
    .nft-eyebrow{
        margin-top: 60px;
        min-height: 160px;
        min-width: 100px;
    }
    .nft-eyes{
        margin-top: 40px;
        min-height: 160px;
        min-width: 100px;
    }
    .nft-drool{
        min-height: 360px;
        min-width: 240px;
        margin-bottom: 35px;
    }
    #nft-verified{
        max-height: 75px;
        min-height: 75px;
    }
    #view-top-button{
        bottom: 50px;
        right: 20px;
    }
}